{{> layout/header }}

<div class="weapp-company-info-company-detail" style="padding: 48px">
    <div class="weapp-company-logo-company-detail">
        {{#company.logoImageUrl}}
            <img src="{{company.logoImageUrl}}" onerror="this.src='/images/default-logo.png'" />
        {{/company.logoImageUrl}}

        {{^company.logoImageUrl}}
            <img src="/images/default-logo.png" />
        {{/company.logoImageUrl}}
    </div>
    <div class="weapp-company-name">
        <h3>{{company.nameKr}}</h3>
    </div>
    <div class="weapp-company-desc-company-detail">
        {{company.oneLineIntro}}
    </div>
</div>

<hr/>

<div class="weapp-container-company-detail">
    <div class="weapp-sell-company-detail">
        <h2>기업소개</h2>
        <p>{{company.introduction}}</p>
        {{#company.infoImageUrl}}
            <img src="{{company.infoImageUrl}}" onerror="this.src='/images/default-info.png'" />
        {{/company.infoImageUrl}}

        {{^company.infoImageUrl}}
            <img src="/images/default-info.png" />
        {{/company.infoImageUrl}}
    </div>

    <div class="weapp-sell-company-detail">
        <h2>기술 스택</h2>
        <div class="weapp-tech-tags-company-detail">
            {{#company.techStackList}}
                <span>{{.}}</span>
            {{/company.techStackList}}
        </div>
    </div>

    <div class="weapp-sell-company-detail">
        <h2>기업 정보</h2>
        <table>
            <tr><th>이메일</th><td>{{company.email}}</td></tr>
            <tr><th>문의 담당자</th><td>{{company.contactManager}}</td></tr>
            <tr><th>사무실</th><td>{{company.address}}</td></tr>
            <tr><th>산업 분야</th><td>{{company.workFieldName}}</td></tr>
        </table>
    </div>
</div>

{{> layout/footer }}
